{
  "ega_user": "YOUR_EGA_USERNAME_OR_EMAIL",
  "ega_password": "YOUR_EGA_PASSWORD",
  "ega_client_id": "pyega3",
  "ega_client_secret": "pyega3_secret",
  "auth_url": "https://auth.ega-archive.org/oauth/token",
  "api_url": "https://ega-archive.org/api/v1"
}
